---
import Base from "@layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

export const prerender = true;
import ProfileCard from "../layouts/components/ProfileCard.astro";

const entry = await getEntryBySlug("about", "index");
const { teams } = entry.data;
---

<Base>
  <section class="section mx-8">
    <h1 class="text-center font-semibold">About Us</h1>
    <div class="mx-auto flex justify-center">
      <p class="mt-4 w-[800px] text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat,
        turpis vehicula ultrices placerat, urna ligula imperdiet augue, non
        consequat lorem erat vel felis. Donec mollis eros nec suscipit
        consectetur.
      </p>
    </div>

    <div class="mt-8 flex justify-center gap-4">
      <div class="max-w-md rounded-md bg-slate-100 p-4 md:p-8">
        <h2 class="text-center font-normal">Visi</h2>
        <p class="mt-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          volutpat, turpis vehicula ultrices placerat, urna ligula imperdiet
          augue, non consequat lorem erat vel felis.
        </p>
      </div>
      <div class="max-w-md rounded-md bg-slate-100 p-4 md:p-8">
        <h2 class="text-center font-normal">Misi</h2>
        <p class="mt-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          volutpat, turpis vehicula ultrices placerat, urna ligula imperdiet
          augue, non consequat lorem erat vel felis.
        </p>
      </div>
    </div>
  </section>

  <section class="mx-8 my-12">
    <div>
      <h1 class="text-center font-semibold">Our Teams</h1>
      <div class="flex justify-center">
        <p class="mb-5 mt-4 w-[800px] text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          volutpat, turpis vehicula ultrices placerat, urna ligula imperdiet
          augue, non consequat lorem erat vel felis. Donec mollis eros nec
          suscipit consectetur.
        </p>
      </div>
    </div>

    <div class="mt-4 flex flex-row flex-wrap justify-center gap-6">
      {
        teams.map((item: any) => {
          return (
            <ProfileCard
              image={item.profile.images}
              name={item.profile.name}
              position={item.profile.position}
              linkLinkedIn={item.profile.linkLinkedIn}
              linkInstagram={item.profile.linkInstagram}
              linkTwitter={item.profile.linkTwitter}
            />
          );
        })
      }
    </div>
  </section>
</Base>
