---
import { Image } from "astro:assets";
import Base from "@layouts/Base.astro";
import { getEntryBySlug } from "astro:content";
import Service from "../layouts/partials/Service.astro";
import Logos from "../layouts/partials/Logos.astro";
import Agenda from "../layouts/partials/Agenda.astro";

const homepage = await getEntryBySlug("homepage", "index");
const { banner } = homepage.data;

const allImages = await Astro.glob("../content/gallery/*");
const filteredImages = allImages.filter(
  (data) => data.frontmatter.draft == false
);

export const prerender = true;
---

<Base title="Home">
  <!-- banner -->
  <section class="section pb-[50px]">
    <div class="container">
      <div class="row text-center">
        <div class="mx-auto lg:col-10">
          <h1 class="font-primary font-semibold">{banner?.title}</h1>
          <!-- {
            banner?.content && (
              <p class="mt-4" set:html={markdownify(banner.content)} />
            )
          } -->

          {
            banner?.image && (
              <Image
                class="mx-auto mt-12 w-[750px]"
                src={banner?.image}
                width={1000}
                height={1000}
                alt="banner image"
              />
            )
          }
        </div>
      </div>
    </div>
  </section>

  <!-- Logos -->
  <Logos />
  <!-- Service -->

  <Service />
  <!-- Agenda -->

  <Agenda />
  <!-- Gallery -->

  <section class="section pb-24">
    <div class="container">
      <div class="row text-center">
        <div class="mx-auto lg:col-10">
          <h1 class="font-semibold">Galeri</h1>
          <p class="mb-2 mt-4">
            Jelajahi galeri kami dan temukan berbagai gambar dan video menarik
            yang menceritakan kisah dan menghadirkan nuansa dari apa yang kami
            tawarkan. Rasakan atmosfer, temukan detail yang memukau, dan biarkan
            diri Anda
          </p>

          <div class="section row pb-0">
            <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
              {
                filteredImages.slice(0, 4).map((data: any) => {
                  return (
                    <div>
                      <Image
                        class="h-52 w-52 rounded-lg object-cover"
                        src={data.frontmatter.image}
                        alt={data.frontmatter.title}
                        width={1000}
                        height={1000}
                      />
                    </div>
                  );
                })
              }
            </div>
            <div class="mt-5">
              <a href="/gallery/1" class="btn btn-primary mt-4 py-[14px]"
                >View More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
