---
import { Image } from "astro:assets";
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const homepage = await getEntryBySlug("homepage", "index");
const { banner } = homepage.data;

import Service from "../layouts/partials/Service.astro";
import Logos from "../layouts/partials/Logos.astro";
import Agenda from "../layouts/partials/Agenda.astro";

const gallery = await Astro.glob("../../public/images/gallery/*");

export const prerender = true;
---

<Base>
  <!-- banner -->
  <section class="section pb-[50px]">
    <div class="container">
      <div class="row text-center">
        <div class="mx-auto lg:col-10">
          <h1 class="font-primary font-bold">{banner?.title}</h1>
          {
            banner?.content && (
              <p class="mt-4" set:html={markdownify(banner.content)} />
            )
          }

          {
            banner?.button?.enable && (
              <a
                class="btn btn-primary mt-4 py-[14px]"
                href={banner.button.link}
              >
                {banner.button.label}
              </a>
            )
          }

          {
            banner?.image && (
              <Image
                class="mx-auto mt-12"
                src={banner?.image}
                width={750}
                height={390}
                alt="banner image"
              />
            )
          }
        </div>
      </div>
    </div>
  </section>

  <!-- Logos -->
  <Logos />
  <!-- Service -->

  <Service />
  <!-- Agenda -->
  <Agenda />
  <!-- Gallery -->

  <section class="section pb-[50px]">
    <div class="container">
      <div class="row text-center">
        <div class="mx-auto lg:col-10">
          <h1 class="font-primary font-bold">Our Gallery</h1>
          <p class="mb-2 mt-4">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            alias quidem eius, sunt possimus ipsa placeat voluptate ut aliquid
            voluptatem esse voluptates accusamus hic reprehenderit adipisci
            magni laborum, fuga nisi?
          </p>

          <div class="section row pb-0">
            <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
              {
                gallery.slice(0, 4).map((image: any) => {
                  return (
                    <div>
                      <img
                        class="h-52 w-52 rounded-lg object-cover"
                        src={image.default.src}
                        alt="p"
                      />
                    </div>
                  );
                })
              }
            </div>
            <div class="mt-5">
              <a href="/gallery" class="btn btn-primary mt-4 py-[14px]"
                >View More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
